/* css gulaula.com */
/* css reset */
*{
	margin:0px;
	padding:0px;
}
html{
	scroll-behavior:smooth;
}
/* navigation bar logo */
#logo{
	margin:8px ,5px;
}
#logo img{
	margin-left:10px;
	margin-top:4px;
	width:35px;
	height:30px;
}
/* navigation bar */
.navbar{
	display:flex;
	align-items:center;
	position:relative;
	top:0px;
	margin-right:10px;
}
.navbar::before{
	content:"";
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	z-index:-1;
	/* opacity:0.5; */
	top:0px;
    left:4px;
	border-radius:15px;
	background-color:#ffa500cf;
}
/* navbar list styling */
.navbar ul{
	display:flex;
	font-size:1.3rem;
	/* width:150px; */
}
.navbar ul li{
	list-style:none;
}
.navbar ul li a{
	color:black;
	display:block;
	padding:5px 25px;
	text-decoration:none;
}
.navbar ul li a:hover{
	color:white;
	background:#6e8fed;
	border-radius:6px;
	/* background:linear-gradient(yellow,green); */
}
/* navbar menu styling */
.menu1{
		display:none;
}
.navbar ul li:hover .menu1{
	display:block;
	position:absolute;
	background:#ffa500cf;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
	
}
.navbar ul li:hover .menu1 ul{
	display:block
}
.navbar ul li:hover .menu1 ul li{
	width:180px;
	font-size:1.1rem;
	padding:6px;
	border-bottom:1px dotted white;
	/* border:2px solid white; */
	border-radius:10px;
}
.navbar ul li:hover .menu1 ul li:last-child{
	border-bottom:none;
}
.navbar ul li:hover .menu1 ul li a:hover{
	color:white;
	background-color:black;
	border-radius:4px;
}
/* navbar sub manu styling */
.menu2{
	display:none;
}
.menu-a:hover .menu2{
	display:block;
	position:absolute;
	background-color:#ffa500cf;
	margin-top:-40px;
	margin-left:186px;
	/* border-radius:10px; */
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
}
/* links manubar styling*/
#links{
	/* background-color:blue; */
	margin-left:183px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
}
#links ul li:hover a{
	background-color:blue;
	border-radius:10px;
}
/* village photo */
#village-img img{
	margin:7px;
	width:1880px;
	height:300px;
	border:4px solid black;
	border-radius:20px;
}
/* photo sitting in table */
.table{
	margin-left:1575px;
	background-color:white;
	border-radius:5px;
	display:inline-block;
	margin-right:9px;
	padding-left:3px;
}
.table img{
	margin:5px;
	width:140px;
	height:130px;
	border:1px solid black;
}
/* text styling in table */
.text{
	/* font-size:9px; */
	padding:12px;
	text-align:center;
}
#slideimg img{
	margin-top: 5px;
	margin-left:7px;
    width: 1326px;
    height: 350px;
	border: 4px solid black;
	border-radius:15px;
}
